


div.bg-red {
  background-color:#FF4D00;
}
div.containerwhite{
  background-color:white;
}

.order-btn {
  font-family: 'Koulen', cursive;
  right:30px;
  bottom:30px;
  color: black;


}

.green-btn {
  font-family: 'Koulen', cursive;
  right:30px;
  bottom:30px;
  color: black;
}

.order-btn-outline {
  background-color:white;
  outline-color:yellow
}


.menu-btn {
  font-family: 'Koulen', cursive;
  left:30px;
  bottom:30px;
  color: black;
}

h1.blacktitle {
  font-family: 'Koulen', cursive;
  color: #36AA0D;
  font-size: 60px;
  text-align:center;
}

h1.blacktitlecenter {
  font-family: 'Koulen', cursive;
  color: #FF4D00;
  font-size: 70px;
  text-align:center;
}

h1.whitetitle {
  font-family: 'Koulen', cursive;
  color: white;
  font-size: 60px;

}

h2.price {
  font-family: 'Koulen', cursive;
  color: black;
  font-size: 60px;
  text-align:left;
}

h3.menuitem {
  font-family: 'Koulen', cursive;
  color: #36AA0D;
  font-size: 30px;
}

h3.startorder {
  font-family: 'Koulen', cursive;
  color: ##FFFEEB;
  font-size: 20px;
  text-align:center;
}

h3.startor {
  font-family: 'Nunito Sans', sans-serif;
  color: #36AA0D;
  font-size: 20px;
  text-align:center;
}

h4{
  font-family: 'Koulen', cursive;
  color: white;
  font-size: 20px;
}

h5 {
  font-family: 'Koulen', cursive;
  color: white;

}

h1.center{
  font-family: 'impact', Sans-serif;
  color: green;
  font-size: 70px;
  text-align:center;
}

li.red{
  background-color:#D7D7D7;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  background-color:#FFFEEB;
}

div.white {
  background-color:white;
}

p.arial {
  font-family: 'arial', Sans-serif;
  color: black;
}
p.photo {
  text-align:center;
}

h2.button{
  font-family: 'Koulen', cursive;
  color: white;
}

h2.green2{
  font-family: 'Koulen', cursive;
  color: green;
}





Body.white {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}

p.right {
  font-family: 'impact', Sans-serif;
  text-align:right;
}



/* example content syntax */


#navigation {
  background-clor: red;
  color: white
}



img.collumn {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.columnWrapper {
  float: left;
  width: auto;
}


.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: blue;
}

.nav {
  font-family: 'Arial', Sans-serif;
  color: white;
  text-align: center;

}
